!!! 5
%html
  %head
    %meta{ :charset => "utf-8"}
    %title
      = @title + ' | ' + SITE_TITLE
    %link{ :href => '/reset.css', :rel => 'stylesheet'}
    %link{ :href => '/style.css', :rel => 'stylesheet'}
    %link{ :href => '/rss.xml', :rel => 'application/rss+xml'}
  %body
    %header
      %hgroup
        %div.welcome
          %h3
            - if login?
              Welcome
              = session[:username]
              %a{ :href => '/logout' }
                Logout<br />

        %h1
          %a{ :href => '/'}
            = SITE_TITLE
        %h2
          = SITE_DESCRIPTION

    - if flash[:notice]
      %p.notice= flash[:notice]

    - if flash[:error]
      %p.error= flash[:error]

    %div#main
      = yield

    %footer
      %small
        %div.left
          An app for
          %a{ :href => '/'}
            Recall
        %div.right
          %a{  :href => '/notes/json', :target => 'blank' }
            get Json
          &nbsp;&nbsp;&nbsp;&nbsp;
          %a{  :href => '/rss.xml', :target => 'blank' }
            get Xml